.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 81, 202);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
}

.navbar > input {
    height: 20px;
    min-width: 100px;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: large;
}

.icon {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}